.intro-section {
  max-width: 75%;
  margin: 50px auto;
  gap: 40px;
  margin-top: 90px;
}

/* Subtitle */
.intro-subtitle {
  margin-bottom: 10px;
  font-family: Cormorant SC, serif;
  font-size: 30px;
  font-weight: 700;
}

.intro-subtitle::first-letter {
  font-size: 45px;
  font-weight: 700;
}

/* Name */
.intro-name {
  font-family: "Georgia", serif;
  font-size: 2.8rem; /* thoda chhota */
  font-weight: normal;
  color: #111;
  margin: 5px 0 15px;
}

/* Pronouns */
.intro-pronouns {
  font-style: italic;
  font-family: Caveat, cursive;
  font-size: 44px !important;
  font-weight: 500;
}

/* Glowing Circle */
.image-wrapper {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(247, 157, 0, 0.6) 0%,
    transparent 70%
  );
  box-shadow: 0 0 30px rgba(247, 157, 0, 0.7);
}

.intro-img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit: cover;
}

.intro-name::first-letter {
  font-size: 4rem; /* Bigger size */
  font-weight: bold;
  color: #f79d00; /* Optional highlight color */
}

.intro-pronouns .brackets {
  color: #f79d00; /* golden color only for < and /> */
  font-weight: bold;
}

input.form-control {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

h2.mb-4 {
  font-family: "Cormorant SC", serif !important;
  font-size: 46px !important;
  font-weight: 900 !important;
}
