 .navbar-brand {
   font-family: "Dancing Script", cursive;
   font-size: 2.4rem;
 }

 .resume-btn {
   background-color: #f4a825;
   color: black;
   font-weight: 500;
   padding: 8px 17px;
   color: darkgreen;
   box-shadow: 2px 4px 3px rgb(0 0 0);
   font-size: 15px;
 }

 .resume-btn:hover {
   background-color: #e4971f;
   color: rgb(0 0 0 / 72%);
 }

 li.nav-item>a {
   font-size: 18px;
   font-family: serif;
   /* color: #000000; */
   font-weight: 600;
 }

  li.nav-item :hover{
    color: #f4a825;
  }